main,
section {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  height: calc(100vh - 146px);
}

main section {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.img__wrapper {
  width: 640px;
  max-width: 100%;
}

.about_me__content {
  max-width: 640px;
}

.about_me__content p {
  font-size: 2.25rem;
  text-align: center;
  font-weight: 600;
}
