main,
section {
  display: flex;
  align-items: center;
}

main {
  width: 100%;
  height: calc(100vh - 126px);
}

main section {
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.img__wrapper {
  width: 320px;
  height: 290px;
  max-width: 100%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  width: 440px;
  max-width: 100%;
}

.input__block {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.4rem;
}

.input__block label {
  font-size: 2rem;
  margin-bottom: 0.2rem;
}

.input__block input,
.input__block textarea {
  border: 2px solid #d6d6d6;
  border-radius: 0.6rem;
  padding: 0.6rem 1rem;
  font-size: 2rem;
}

.input__block input:focus,
.input__block textarea:focus {
  outline: none;
  border-color: #7d77e0;
}

.input__block textarea {
  resize: none;
}

.contact__form button {
  align-self: flex-end;
  border-radius: 0.8rem;
  background: #7d77e0;
  padding: 1.2rem 1.6rem;
  font-size: 1.8rem;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1.4rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);

  transition: 0.3s ease all;
}

.contact__form button:hover {
  background: #6e69c4;
}
