.header__wrapper {
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 5px 5px -1px rgba(0, 0, 0, 0.06);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
}

.header {
  margin: 0 auto;
  padding: 1.6rem 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.header__logo {
  font-size: 2.8rem;
}

.header__logo a {
  text-decoration: none;
}

.header__nav {
  display: flex;
}

.header__nav li {
  font-size: 2rem;
  padding: 0 0.8rem;
  margin: 0 1.2rem;
}

.header__nav li a {
  text-decoration: none;
}

.header__nav li a:hover,
.header__nav li.active a,
.header__logo a.active,
.header__logo a:hover {
  color: #7d77e0;
}
