@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

@import 'header.css';

:root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
  scroll-behavior: smooth;
  background: #fff;
}

body {
  padding: 40px 12px 0;
}

*,
button,
input {
  border: 0;
  background: none;
  color: #2e2e2e;
  font-family: 'Nunito', sans-serif;
  transition: color 0.2s ease-out;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}
